.card {
  width: calc(33.33% - 180px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(106, 103, 103);
  border-radius: 25px;
  margin: 1em 0.2em;
  background-image: linear-gradient(270deg, #737579, #554949);
  box-shadow: 3px 3px 1px 1px #433f3f;
  color: white;
  text-align: center;
}
.card__image > img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}

.card__price>p{
  border: 1px solid black;
  padding: 13px;
  border-radius: 70%;
  background-color: #554949;
  font-weight: 600;

}

.card__price>p:hover{
  background-color: #483e3e;
  transform: translateY(-4px);
  padding: 13px;
  font-weight: 800;
  cursor: pointer;
}
